.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-style: normal;
}
